<div class="soloPics">
  <h1><%= @photo.title %></h1>
  <h4><%= @photo.body %></h4>
  <img src="<%= @photo.image %>" alt=""/>
  <br>
  <a href="/photos/<%= @photo.id %>/edit">Edit</a>
  <form action="<%= @photo.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="name" value="Delete">
  </form>
  <br><br><br><br>
</div>
